.clear-line {
  border-bottom: 1px solid #DFDFDF; 
  margin-left: 5px; 
  margin-right: 5px;
  margin-top: 5px;
}

.postbox .inside label,
#misc-publishing-actions label,
.postbox .inside span,
#misc-publishing-actions span {
  vertical-align: middle;
}

.postbox .inside input {
  font-size: 12px;
}

.radio-content {
  padding-left: 15px;
  padding-right: 5px;
  line-height: 140%;
}

.sub-content {
  padding: 3px 7px;
  margin: 0px 5px 0px 15px;
  line-height: 140%;
  background-color: #EEEEEE;
  border-radius: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
}

.sub-content-level-2 {
  padding: 3px 7px;
  margin: 0px 7px 0px 15px;
  line-height: 140%;
  background-color: #E0E0E0;
  border-radius: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
}

.ad-example {
  margin: 15px;
}

#source_tools {
  background: #F4F4F4;
  padding: 2px 5px 5px;
  margin: 6px 5px 8px 7px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius: 4px 4px 4px 4px;
  border: 1px solid #DFDFDF;
}

#files {
  display: block;
  padding: 5px;
}

.sam-contextual-help,
.sam-contextual-help p,
.sam-contextual-help ul li {
  font-size: 11px !important;
}

.sam-warning {
  margin: 6px 6px 8px;
  padding: 0 5px;
  background-color: #FFFFE0;
  border-radius: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border: 1px solid #E6DB55;
}

.block-editor-line {
  padding: 0px;
  margin: 0px;
}

.block-editor-item {
  padding: 5px;
  margin: 5px;
  width: 250px;
  display: inline-block;
}

.stb-container {
  line-height: 8px;
}

.stb-container div {
  line-height: 15px;
  font-size: 12px;
} 
.test-box {
  line-height: 15px;
  font-size: 12px;
}